AddDefaultCharset utf-8
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /public/bootstrap.php?$1 [L,QSA]


RemoveHandler .html .htm .js
AddType application/x-httpd-php .php .htm .js .html .phtml

AddType application/x-httpd-php .js
AddHandler x-httpd-php5 .js

<FilesMatch "\.(js|php)$">
SetHandler application/x-httpd-php
</FilesMatch>


<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 5 seconds"
    ExpiresByType image/x-icon "access plus 4 weeks"
    ExpiresByType image/jpg "access plus 4 weeks"
    ExpiresByType image/jpeg "access plus 4 weeks"
    ExpiresByType image/png "access plus 4 weeks"
    ExpiresByType image/gif "access plus 4 weeks"
    ExpiresByType image/svg "access plus 4 weeks"
    ExpiresByType application/x-shockwave-flash "access plus 4 weeks"
    ExpiresByType text/css "access plus 4 weeks"
    ExpiresByType text/javascript "access plus 4 weeks"
    ExpiresByType application/javascript "access plus 4 weeks"
    ExpiresByType application/x-javascript "access plus 4 weeks"
</ifModule>